@import 'users/users.css';
@import 'videogames/videogames.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.two-columns {
    display: flex;
    flex: 1 1 0px;
}

#xml-input {
    font-family: monospace;
    white-space: pre;
}

.column {
    margin: 15px;
    padding: 15px;
    flex: 1 1 0px;
    border: 1px solid black;
}